---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro";
import About from "@components/About.astro";
import Skills from "@components/Skills.astro";
import Projects from "@components/Projects.astro";
import Productivity from "@components/Productivity.astro";
import Experience from "@components/Experience.astro";
import Contact from "@components/Contact.astro";
import Footer from "@components/Footer.astro";
---

<BaseLayout>
  <Header />
  <main id="top">
    <Hero />
    <About />
    <Skills />
    <Projects />
    <Productivity />
    <Experience />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
